<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Vue</title>
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <style>
        .box {
            padding: 100px 0;
            width: 400px;
            text-align: center;
            background: #ddd;
            margin: 20px;
            display: inline-block;
        }
    </style>
</head>
<body>
    <h1>Hello world!</h1>

    <div id="app">
        <button @click="handleShowBook">
            <span v-if="showBook">Hide Book</span>
            <!-- <span v-if="!showBook">Show Book</span> -->
            <span v-else>Show Book</span>
        </button>
        <div v-if="showBook">
            <!-- <h2>Template here!</h2> -->
            <!-- <p>The Final Empire</p> -->
            <h2>v-if block</h2>
            <p>{{ books[0].title }} - {{ books[0].author }} - Price: {{ books[0].price }}$</p>
            <p>{{ books[1].title }} - {{ books[1].author }} - Price: {{ books[1].price }}$</p>
            <p>{{ books[2].title }} - {{ books[2].author }} - Price: {{ books[2].price }}$</p>
        </div>
        <!-- v-if will remove the above div block from the DOM while v-show use css "display: none" instead
        to hide the div block below -->
        <div v-show="showBook">
            <h2>v-show block</h2>
            <ul>
                <li v-for="book in books">
                    <h3>{{ book.title }}</h3>
                    <p>{{ book.author }} - Price: {{ book.price }}$</p>
                </li>
            </ul>
        </div>
    </div>

    <script src="app.js"></script>
</body>
</html>